Repository qtile/qtile, pull requests merged in 2021-11, with the labels that each got.

#2962 _SimpleLayoutBase: Pass client_position to _ClientList
  libqtile/layout/base.py
  test/layouts/test_base.py
Labels: needs test

#2942 New Net widget option to display the current speed with a static prefix
  CHANGELOG
  libqtile/widget/net.py
  test/widgets/test_net.py
Labels: widgets, needs test

#2849 Add ability to pass parameters to lazy calls
  docs/manual/config/lazy.rst
  libqtile/lazy.py
  libqtile/resources/default_config.py
  test/test_command.py
Labels: Needs maintainer review

#2954 group.cmd_toscreen - do not toggle by default
  CHANGELOG
  libqtile/group.py
  test/test_group.py
  test/test_manager.py
Labels: Needs maintainer review
