Repository qtile/qtile, pull requests merged in 2022-02, with the labels that each got.

#3285 Wayland: Added support for output-power-management-v1
  CHANGELOG
  docs/conf.py
  libqtile/backend/wayland/core.py
  setup.cfg
  tox.ini
Labels: Wayland

#3274 WL: XWayland window request_configure should just give them the geometry
  libqtile/backend/wayland/window.py
Labels: Wayland, Needs maintainer review

#2606 New layout: MonadThreeCol
  CHANGELOG
  libqtile/layout/__init__.py
  libqtile/layout/xmonad.py
  test/layouts/test_xmonad.py
Labels: stale
