Repository qtile/qtile, pull requests merged in 2024-01, with the labels that each got.

#4239 Fix bug with `markup` in `GroupBox` widget
  libqtile/backend/base/drawer.py
  libqtile/widget/groupbox.py
  libqtile/widget/tasklist.py
  test/widgets/test_groupbox.py
Labels: area: widgets

#4663 Delete non-persistent groups when windows are moved to another group
  CHANGELOG
  libqtile/backend/wayland/window.py
  libqtile/backend/x11/window.py
  libqtile/dgroups.py
  test/test_group.py
Labels: status: missing test, area: core

#4202 TaskList: add `markup_focused_floating` option
  libqtile/widget/tasklist.py
  test/widgets/test_tasklist.py
Labels: area: widgets, status: stale, status: missing test
